/* Mandatory for timeline 2 */
.timeline2 {
	--color-accent: #263cb9;
	--color-text: #121212;
	--color-background: #fafdff;
	--gap: clamp(2rem, 4vw, 3rem);
	--vertical-line-width: 4px;

	display: flex;
	gap: var(--gap);
	/* Can also be set to flex-end or center */
	justify-content: flex-start;
	color: var(--color-text);
	background-color: var(--color-background);
}
.timeline2 .vertical-line {
	flex-shrink: 0;
	width: var(--vertical-line-width);
	background-color: var(--color-background);
}
.timeline2 .bubbles-cont {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.timeline2 .timeline__bubble {
	--max-bubble-width: 72ch;
	background-color: var(--color-background);
	color: var(--color-text);
	position: relative;
	max-width: var(--max-bubble-width);
}

.timeline2 .timeline__bubble::before {
	--tiny-bubble-width: 16px;
	position: absolute;
	content: "";
	width: var(--tiny-bubble-width);
	left: calc(
		-1 * ((var(--gap)) + var(--tiny-bubble-width) / 2 +
					var(--vertical-line-width) / 2)
	);
}
/* Styling for Timeline 2 */
.timeline2 {
	/* Background pattern */
	--size: 120px; /* control the size */
	--clr1: hsl(0, 0%, 11%);
	--clr2: hsl(220, 2%, 31%);
	--clr3: hsl(0, 0%, 24%);
	background: repeating-conic-gradient(
				from 30deg,
				#0000 0 120deg,
				var(--clr3) 0 180deg
			)
			calc(0.5 * var(--size)) calc(0.5 * var(--size) * 0.577),
		repeating-conic-gradient(
			from 30deg,
			var(--clr1) 0 60deg,
			var(--clr2) 0 120deg,
			var(--clr3) 0 180deg
		);
	background-size: var(--size) calc(var(--size) * 0.577);
}
.timeline2 .timeline__bubble {
	padding: 1.3rem 1.5rem;
	border-radius: 0.8rem;
}
.timeline2 .timeline__bubble::before {
	background-color: var(--color-accent);
	border-radius: 50%;
	aspect-ratio: 1;
	box-shadow: 0 0 0 4px var(--color-background);
}
.timeline2 .timeline__bubble h2 {
	font-size: clamp(1.5rem, 4vw, 2.2rem);
	text-transform: uppercase;
	line-height: 1;
}
.timeline2 .timeline__bubble h3 {
	font-size: clamp(1.2rem, 3vw, 1.6rem);
}
.timeline2 .timeline__bubble p {
	font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.timeline2 .timeline__bubble h3:nth-child(n + 2) {
	margin-top: 0.15em;
}
.timeline2 .timeline__bubble p:nth-child(n + 2) {
	margin-top: 0.5em;
}
